/* variables */
:root {
    --dark-background: #1a1a1a;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* base styles */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    width: 100%;
    background: linear-gradient(231deg, #CB1AE8 -0.37%, #37BDA6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    height: 52px;
    padding: 20px 28px;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    background-color: transparent;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 0.75em;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.btn:active {
    transform: scale(0.95);
}

.btn_style {
    padding: 20px 80px;
    flex-shrink: 0;
}

.btn_light {
    background-color: #fff;
    color: #000;
}

.btn_light:hover {
    background-color: transparent;
    color: #fff;
}

/* fonts */
@font-face {
    font-family: "Poppins";
    src: url(asset/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(asset/Poppins/Poppins-Black.ttf);
    font-weight: 900;
    font-style: normal;
}


/* mobile first */
@media screen and (min-width: 523px) {
    body {
        font-size: 16px;
    }

    .container {
        gap: 45px;
    }

    .mobile_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 16px;
        width: 100%;
        gap: 95px;
        height: 108px;
    }
    
    .desktop_nav {
        display: none;
    }

    .mobile_nav-direction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-size: 1em;
        gap: 12px;
    }

    .content {
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .text_content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: #fff;
        gap: 7px;
        margin: 0 84px;
        letter-spacing: 0.2px;
    }

    .headline {
        font-size: 2.875em; /*46px*/
        font-weight: 400;
        font-style: normal;
        line-height: 1.24;
        padding: 10px;
    }

    .mobile_headline {
        display: block;
    }

    .desktop_headline  {
        display: none;
    }

    .sub_headline {
        font-size: 1em;
        font-weight: bold;
        line-height: 1.25;
        padding: 10px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 13px;
        font-size: 1em;
        letter-spacing: 0.2px;
    }

    .btn_style {
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .screen {
        padding-top: 10px;
        width: 100%;
        padding-bottom: 3.125em;
    }
    
    .screen img {
        display: block;
        width: 75%;
        margin: 0 auto;
        box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 8.5%;
    }

    .mobile_nav {
        display: none;
    }

    .desktop_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 30px;
    }

    .desktop_nav-direction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        /* padding: 20px 0; */
        padding-left: 10px;
        color: #fff;
        font-size: 1em;
        gap: 48px;
    }

    .desktop_headline {
        display: block;
        font-weight: 900;
        font-size: 55px;
    }

    .content, 
    .buttons {
        margin: 0;
        margin-right: 9px;
    }

    .content {
        margin-top: 80px;
    }

    .buttons {
        margin-top: 12px;
    }

    

    .btn_style {
        padding: 0;
        padding: 20px 48px;
    }

    .mobile_headline {
        display: none;
    }

    .buttons {
        flex-direction: row;
    }

    .mobile_nav-direction .btn {
        padding: 0 35px;
    }

    .screen img {
        margin-top: 12px;
        width: 68%;
    }
}




